# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Git files
.git/
.gitignore

# Local tests
tests/

# Logs
*.log